.swiper-box .swiper-scrollbar-drag {
    width: 8px;
    left: -3px;
    background: #2DB84C;
}

.icon-wallet{
    width: 36px !important;
    height: 36px !important;
    position: relative !important;
    border-radius: 0 !important;
    object-fit: unset !important;
}

.btn-circle-shortcut {
    height: 55px;
    width: 55px;
    border-radius: 100%;
    padding: 0;
}

.text-primary-2 {
    color: #039BE5;
}
.tabs-style-primary {
    width: 50%;
    text-align: center;
}
.divider-transaction{
    border-top: 20px solid #F9F9F9;
}