li.navbar-wrapper > a.navbar-active {
    display: block;
    width: 100%;
    height:100%;
    color: #2DB84C;
    background-color: #C6282826;
    box-shadow: 0 12px 15px 0 rgb(198 40 40 / 13%);
    border-radius: 12px;
}
li.navbar-wrapper > a.navbar-active > i {
    color: #2DB84C;
}
.wallet-icon {
    width: 55px;
    height: 55px;
}
.wallet-picker {
    cursor: pointer;
}
@media only screen and (max-width: 1400px) {
    .wallet-icon {
        width: 39px;
        height: 39px;
    }
}
